.profile-page {
	display: flex;
	height: 1000vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	position: initial;
}

@media only screen and (max-width: 600px) {
	.profile-page {
		padding: 0;
	}

	.profile-page-widget-container {
		display: none;
	}
}
