.feed-container {
	overflow: scroll;
	width: 50%;
}

.edit-profile {
	display: flex;
	flex-direction: row;
}


.tweed-title {
	align-items: center;
}

.feed {
	flex: 0.9;
	border-right: 1px solid var(--twitter-background);
	min-width: fit-content;
}

.tweetContainer{
	flex: 0.7 1;
	height: 100vh;
	position: sticky;
	overflow: scroll;
}
