.feed-container {
	overflow: scroll;
	width: 50%;
  height: 2000px;
}

.edit-profile {
	display: flex;
	flex-direction: row;
}

.tweed-title {
	align-items: center;
}

.feed {
	flex: 0.9;
	border-right: 1px solid var(--twitter-background);
	border-left: 1px solid var(--twitter-background);
	min-width: fit-content;
}

.feed::-webkit-scrollbar {
	display: none;
}

.feed-header {
	top: 0;
	background-color: white;
	border: 1px solid var(--twitter-background);
	padding: 15px 20px;
}

.feed-header > h2 {
	font-weight: 800;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.feed-container {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
