body {
	--twitter-color: #7ed957;
	--money-color: #7ed957;
	--twitter-background: #e6ecf0;
}

.home {
	display: flex;
	height: 1000vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

@media only screen and (max-width: 600px) {
	.home {
		display: flex;
		height: 100vh;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
}
