.wrapper {
	display: flex;
	height: 1000vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	position: initial;
	width: 0.7;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		padding: 0;
	}
}
