.post {
	display: flex;
	flex-direction: column;
	background-color: rgba(131, 244, 129, 0.068);
	border-radius: 25px;
	font-size: 1.2em;
}

.username {
	font-size: 0.8em;
	text-align: center;
}

.postoutside {
	flex: 1;
	height: 75vh;
	position: sticky;
	top: 3%;
	overflow: auto;
	margin-left: 40px;
}

.post-container {
  margin: 30px;
  border: 1px solid black;
}

.buttonsContainer {
	display: flex;
  justify-content: space-between;
}
.commentsButton,
.deletePostButton,
.editPostButton {
  background-color: black;
  color: white !important;
  border-radius: 30px !important;
  font-weight: 900 !important;
  border: none !important;
  width: 80px;
}

.postImg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}