.post{
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  background-color:rgba(255,255,255, 1);
  margin-left: 20px;
}

.username {
	font-size: 0.8em;
	text-align: center;
}

.post-container {
  margin: 30px;
  border: 1px solid green;
}

.buttonsContainer {
	display: flex;
}
.commentsButton,
.deletePostButton,
.editPostButton {
	width: 110px;
	border-radius: 25px !important;
	background-color: #589a3c !important;
	border-color: #7ed957 !important;
	color: white !important;
	height: 40px !important;
	position: initial !important;
	display: inline;
	margin: auto;
}

.postImg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.editPostButton{
  width: 110px;
	border-radius: 25px !important;
	background-color:#589a3c !important;
	border-color: #7ed957 !important;
	color: white !important;
	height: 40px !important;
	position: initial !important;
  display: inline;
  margin: auto ;
}