.tweetBox {
	background-color: white;
	padding: 30px;
	padding-bottom: 0px;
	border-bottom: 8px solid var(--twitter-background);
}
.tweetBox > form {
	display: flex;
	flex-direction: column;
}

.tweetBox-input > textarea {
	resize: none;
	flex: 1;
	margin-left: 10px;
	font-size: 20px;
	border: none;
	width: 100%;
	padding-left: 10px;
}

.tweetBox .feed_tweet_BTN {
	background-color: var(--money-color) !important;
	border: none !important;
	color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;

	border-radius: 30px !important;
	width: 80px !important;
	height: 40px;
	display: inline-flexbox;
	margin-left: auto;
	position: initial;
}
.tweetBox-inputImage {
	border: none;
	padding: 10px;
}

/* @media only screen and (max-width: 600px) {
} */
