.tweetBox {
	background-color: white;
	padding-bottom: 10px;
	border-bottom: 8px solid var(--twitter-background);
	padding-right: 10px;
}

.form {
  height: 100px;
  height:100px;
  margin: 0 auto;
}
.tweetBox {
	padding: 20px;
	display: flex;
}

.tweetBox-input > textarea {
  /* resize: none;
	flex: 1;
	margin-left: 10px;
	font-size: 20px;
	border: none;
	width: 100%;
	padding-left: 10px; */
  text-align: center;
}

.submitButton{
  background-color: var(--money-color) !important;
  color: white !important;
  border-radius: 30px !important;
  font-weight: 900 !important;
  border: none !important;
}
.tweetBox-inputImage {
	border: none;
	padding: 10px;
}
