.footer-sign-in-up-button {
	border-radius: 20px;
	background-color: black;
	border-color: gray;
	color: white;
	height: 25px;
	margin: 8px;
}
.footer-sign-in-up-container {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 15px;
	padding-left: 25px;
}

.footer-signed-in-container {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 15px;
	padding-left: 25px;
}

.footer-user-container {
	display: flex;
	justify-content: center;
	justify-content: space-around;
	padding: 15px;
	padding-left: 25px;
}

.modal-button {
	width: 110px;
	border-radius: 25px !important;
	background-color: black !important;
	border-color: gray !important;
	color: white !important;
	height: 40px !important;
	position: initial !important;
}

@media (max-width: 600px) {
	.footer-user-container {
		display: none;
	}
}
