.widget {
	flex: 0.7 1;
	height: 100vh;
	position: sticky;
	top: 3%;
	overflow: auto;
	margin-left: 40px;
}

.widgets__input {
	display: flex;
	align-items: center;
	background-color: var(--twitter-background);
	padding: 10px;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 20px;
}

.widget-hide-nav-bar {
	display: none;
}

.widgets__input > input {
	border: none;
	background-color: var(--twitter-background);
}

.widgets__searchIcon {
	color: gray;
}
.widgets__widgetContainer {
	margin-top: 15px;
	margin-left: 20px;
	padding: 20px;
	background-color: #f5f8fa;
	border-radius: 20px;
	padding-bottom: 40px;
}

.widgets__widgetContainer > h2 {
	font-size: 18px;
	font-weight: 800;
	padding: 15px 20px;
}

.main-con {
	width: 200px;
	box-sizing: content-box;
	width: 100%;
}

@media (max-width: 600px) {
	.widget,
	.widgets__widgetContainer {
		margin: 0px;
	}

	.widgets__widgetContainer {
		padding: 30px;
		padding-top: 10px;
		margin-top: 10px;
	}

	.widgets__input {
		margin: 10px;
	}

	.hidden-mobile {
		display: none;
	}

	.widget-hide-nav-bar {
		display: block;
	}
	.widget-container {
		width: 100%;
	}
}
