.sidebar {
	border-right: 1px solid var(--twitter-background);
	flex: 0.3 1;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100vh;
	position: sticky;
	
	overflow: auto;
}

.sidebar_tweet {
	background-color: var(--twitter-color) !important;
	border: none !important;
	color: white !important;
	text-transform: inherit !important;
	font-weight: 900 !important;
	border-radius: 30px !important;
	height: 50px !important;
	margin-top: 20px !important;
}

.sidebar-twitterIcon {
	color: var(--twitter-color);
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.sidebar_Tweet {
	background-color: var(--twitter-color) !important;
	border: none !important;
	color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	border-radius: 30px !important;
	height: 50px !important;
	margin-top: 20px !important;
	max-width: 200px;
}

@media only screen and (max-width: 600px) {
  
  .sidebar {
    display: flex;
    left:0;
    position: fixed;
    bottom: 0;
    height: 50px;
    flex-direction: row;
    background-color: rgb(141, 136, 136);
  }

  .sidebar-profile-photo {
    display: none;
  }


}
