

.widgets {
  flex: 0.3;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.widgets > h2 {
  font-weight: 800;
  font-size: 20px;
}