body {
	--twitter-color: #7ed957;
	--money-color: #7ed957;

	--twitter-background: #e6ecf0;
}

.app {
	height: 100vh;
	overflow: auto;
}

@media only screen and (max-width: 600px) {
	.app {
		padding: 0px;
	}
}
