a {
	text-decoration: none;
	color: black;
}

.sidebar {
	flex: 0.7 1;
	height: 100vh;
	position: sticky;
	overflow: auto;
	margin-left: 40px;
	margin-right: 40px;

	top: 3%;
}

.sidebar-hide-icon {
	display: none;
}

.sidebar_tweet {
	background-color: var(--twitter-color) !important;
	border: none !important;
	color: white !important;
	text-transform: inherit !important;
	font-weight: 900 !important;
	border-radius: 30px !important;
	height: 50px !important;
	margin-top: 20px !important;
}

.sidebar-twitterIcon {
	color: var(--twitter-color);
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.sidebar_Tweet {
	background-color: var(--twitter-color) !important;
	border: none !important;
	color: white !important;
	font-weight: 900 !important;
	text-transform: inherit !important;
	border-radius: 30px !important;
	height: 50px !important;
	margin-top: 20px !important;
	max-width: 200px;
}

@media only screen and (max-width: 600px) {
	.sidebar {
		flex: none;
		bottom: 0;
		height: 40px;
		width: 100%;
		align-items: center;
		flex-direction: row;
		background-color: #f5f8fa;
		top: 0%;
		margin-left: 0%;
		margin-right: 0%;
		padding: 0px;
	}

	.sidebar-container {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.sidebar-container-mobile {
		justify-content: space-evenly;
		margin-bottom: 8.25px;
		display: flex;
		align-items: center;
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	.sidebar-profile-photo {
		display: none;
	}

	.side-bar-coin-icon {
		height: 80px;
	}

	.sidebar-hide-icon {
		display: block;
	}

	.sidebar-post-button {
		display: none;
	}

	.sidebar-crypto-mobile {
		display: none;
	}
}
